.CaptchaVal {
    border-radius: 0.75rem;
}

.validationSpan {
    color: red;
}

.align-items-right {
    direction: rtl !important;
    margin-top: 2rem;
}
#basic-datatables_filter {
     direction: rtl
 }

table {
    direction: rtl;
    text-align: center;
}

.card-tools {
    float: left
}

.form-control:disabled, .form-control[readonly] {
    background: #f9f9f9 !important;
    border-color: #d0d0d0 !important;
}

.swal-title , .swal-text{
    direction: rtl
}


